<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- This is to distinguish distinct applications that would end up logging 
		into the same table -->
	<property name="LOGGER_ID" scope="context" value="" />

	<!-- The PostgreSQL JDBC driver must be on the classpath for this -->
	<appender name="PGSQLDB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource
			class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>org.postgresql.Driver</driverClass>
			<url>jdbc:postgresql://localhost/logs</url>
			<user>logback</user>
			<password>UseABetterPassword</password>
		</connectionSource>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${jetty.home}/logs/jetty.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>jetty_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="PGSQLDB" />
	</root>
</configuration>