<style xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude" lang="en" type="text/css">
.httpstatus {
	font-weight: bold;
}

.httpstatus_1xx .httpstatus {
	background-color: white;
}

.httpstatus_2xx .httpstatus {
	background-color: lightgreen;
}

.httpstatus_3xx .httpstatus {
	background-color: lightgreen;
}

.httpstatus_4xx .httpstatus {
	background-color: yellow;
}

.httpstatus_5xx .httpstatus {
	background-color: red;
}
</style>