<style xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude" lang="en" type="text/css">
.syslogsev {
	font-weight: bold;
}

.syslogfac {
	font-weight: bold;
}

.received_dt {
	font-weight: bold;
	font-family: Courier, monospace;
}

.event_dt {
	font-weight: bold;
	font-family: Courier, monospace;
}

.slick-row.syslogsev_EMERGENCY {
	background-color: red;
	color: black;
}

.slick-row.syslogsev_ALERT {
	background-color: red;
	color: black;
}

.slick-row.syslogsev_CRITICAL {
	background-color: red;
	color: black;
}

.syslogsev_ERROR .syslogsev {
	background-color: red;
	color: black;
}

.syslogsev_WARNING .syslogsev {
	background-color: orange;
	color: black;
}

.syslogsev_NOTICE .syslogsev {
	background-color: green;
	color: back;
}

.syslogsev_INFO .syslogsev {
	background-color: blue;
	color: white;
}

.syslogsev_DEBUG .syslogsev {
	color: olive;
}
</style>